ul {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}

li {
  list-style-position: inside;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.recharts-cartesian-axis-ticks {
  font-size: 0.8rem;
}
.recharts-brush-texts {
  font-size: 0.6rem;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}
